* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
}
.h2,
h2 {
    font-size: 1.4em;
}
.h5,
h5 {
    font-size: 1.1em;
}
.header .navbar {
    display: flex;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header .navbar.sticky {
    background-color: #aa0b0b !important;
    padding: 8px 0;
}
.header .logo img,
.header .icon-wrap img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.header nav {
    flex: 1;
    text-align: right;
}
.header nav ul {
    display: inline-block !important;
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 4px;
}
.header .navbar-nav .nav-item:hover {
    background-color: #800100;
    border-radius: 25px;
}
.header .navbar-nav .nav-item.active {
    background-color: #800100;
    border-radius: 25px;
    font-weight: bold;
}
.header .navbar-nav .nav-link {
    color: #fff !important;
    text-transform: uppercase;
    margin: 0 20px;
}
.header .gap {
    background-color: #fff;
    display: inline-block;
    height: 40px;
    margin: 5px 2em 5px 0;
    width: 0.5px;
}
.header .banner {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: 1em;
}
.header .banner .bg {
    background-image: url(".././img/banner.png");
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
}
.header .banner .overlay {
    background-image: url(".././img/bottom-banner.png");
    width: 100%;
    height: 200px;
    position: absolute;
    background-size: cover;
    background-position: bottom;
    bottom: -2px;
    background-repeat: no-repeat;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.header .search {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}
.header .search .right,
.header .search .left {
    position: absolute;
    width: 200px;
    height: 300px;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}
@keyframes randomTransformAnimateLeft {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 10px;
        top: 0px;
    }
    50% {
        left: 10px;
        top: 10px;
    }
    75% {
        left: 0px;
        top: 10px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
@keyframes randomTransformAnimateRight {
    0% {
        right: 0px;
        top: 0px;
    }
    25% {
        right: 10px;
        top: 0px;
    }
    50% {
        right: 10px;
        top: 10px;
    }
    75% {
        right: 0px;
        top: 10px;
    }
    100% {
        right: 0px;
        top: 0px;
    }
}
.header .search .left {
    left: 0;
    background-image: url(".././img/left-search.png");
    -webkit-animation: randomTransformAnimateLeft 5s infinite;
    animation: randomTransformAnimateLeft 5s infinite;
}
.header .search .right {
    right: 0;
    background-image: url(".././img/right-search.png");
    -webkit-animation: randomTransformAnimateRight 5s infinite;
    animation: randomTransformAnimateRight 5s infinite;
}
.header .search .container {
    max-width: 480px;
}
.header .search .container .input-group {
    height: 60px;
    background-color: #aa0b0b;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0.2em 0.5em rgb(0 0 0 / 30%);
}
.header .search .container .input-group input {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    background-color: transparent;
    color: #fff;
    border: none;
}
.header .search .container .input-group input::placeholder {
    color: #fff;
}
.header .search .container .input-group .input-group-icon button {
    margin: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
}
.header .search .container .input-group .input-group-icon button img {
    transform: translate(1px, -1px);
    width: 20px;
    height: 20px;
}
.news a .section-title {
    color: #fff;
    display: inline-block;
    border-radius: 0.3em;
    background-color: #aa0b0b;
    padding: 0.5em 1em 0.8em;
    margin: 0 1em -1em;
}
.news .row .item {
    background-image: url("https://www.langf.vn/cam-nang-lang-dai-hoc/wp-content/uploads/2021/06/Marvel-pts.png");
    background-size: cover;
    background-position: 50%;
    display: block;
    width: 100%;
    padding-top: 50%;
    position: relative;
    color: #fff;
    border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 0 0.2em 0.5em rgb(0 0 0 / 20%);
}
.news .row .item .wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}
.news .row .item .wrap .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.news .row .item .wrap .desc {
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}
.news .text-right .see-more {
    background-color: #800100;
    padding: 0.8em 1em 0.5em;
    margin: -1em 1em 0;
    color: #fff;
    display: inline-block;
    border-radius: 0.3em;
}
.dishes .title {
    margin-bottom: -2em;
}
.dishes .title h2,
.reviews .title h2 {
    background-color: #aa0b0b;
    display: inline-block;
    color: #fff;
    line-height: 2em;
    height: 2em;
    border-radius: 1em;
    padding: 0 1em;
    box-shadow: 0 0.3em 0.5em rgb(0 0 0 / 20%);
}
.dishes .content {
    background-color: #800100;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    padding: 3em 1em 1em;
}
.dishes .content .item {
    width: 20%;
    text-align: center;
    padding: 1em;
    color: #fff;
    font-weight: 700;
}
.dishes .content .item .icon {
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding: 20px;
    display: inline-block;
    border-radius: 1em;
    box-shadow: 0 0.3em 0.5em rgb(0 0 0 / 20%);
}
.dishes .content .item .name {
    line-height: 2em;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.reviews .review-box .card {
    color: black;
    height: 100%;
    border: none;
    box-shadow: 0 0.1em 0.3em rgb(0 0 0 / 20%);
    text-decoration: none;
}
.reviews .review-box .card .card-body .user-avatar {
    background-color: rgb(85, 139, 47);
    width: 60px;
    height: 60px;
    line-height: 1.5em;
    position: relative;
    color: #fff;
    border-radius: 50% !important;
}
.reviews .review-box .card .card-body .user-avatar span {
    position: absolute;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: baseline;
    text-align: center;
    font-weight: 900;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -1em;
    font-size: 1.5em;
}
.reviews .review-box .card .card-body .user-name .badge {
    font-size: 0.8em;
    color: white;
    background-color: rgb(245, 127, 23);
}
.reviews .review-box .card .card-body .user-name .text-wrap {
    line-height: 1.5em;
    background-color: #aa0b0b;
}
